body {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  font-family: fantasy;
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 63%;
  padding: 20px;
  position: relative; /* Adicionado para garantir que o conteúdo esteja acima do vídeo */
  z-index: 1; /* Adicionado para garantir que o conteúdo esteja acima do vídeo */
}

p {
  font-size: 20px;
  margin: 20px 0;
}

#tempoJuntos {
  margin: 20px 0;
  font-size: 18px;
  color: #d6d6d6;
}

.heart {
  font-size: 24px;
  color: #e91e63;
  margin: 20px 0;
}

.barra-horizontal {
  width: 30%;
  margin: 20px auto;
  border: none;
  border-top: 4px solid #000000a2;
  opacity: 1;
  box-shadow: 0 0px 7px rgb(209, 209, 209);
}

.message {
  font-size: 18px;
  color: #fade92;
  margin-bottom: 15px;
}

.prompt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.prompt {
  position: center;
  max-height: 70%;
  top: 10%;
  left: 15%;
  font-size: 15px;
  background: #ff0000d2;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 3px 15px -2px #222;
  padding: 20px;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 45%;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.photos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stickers {
  position: relative;
}

.estrela {
  position: absolute;
  bottom: 540px;
  left: 70px; 
  /* top: 50px; */
}

.lua {
  position: absolute;
  bottom: -40px;
  right: 50px; 
}

.Polaroids {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
  grid-template-rows: auto auto; /* Duas linhas automáticas */
  grid-template-areas: 
    "item1 item2"
    "item3 item3"
    "item4 item4"; /* Segunda linha ocupa ambas as colunas */
  justify-items: center; 
  align-items: center; 
  gap: 10px; 
}

.Polaroid {
  max-width: 100%;
  height: auto;
}

.foto1:hover {
  transform: rotate(0deg);
}

.foto1 {
  transform: rotate(-5deg);
  grid-area: item1;
}

.foto2:hover {
  transform: rotate(0deg);
}

.foto2 {
  transform: rotate(5deg);
  grid-area: item2;
}

.wolv {
  width: 70px;
  height: auto;
  transform: rotate(-5deg);
  position: absolute;
  bottom: 0px;
  right: 0px; 
  opacity: 96%;
}

.aran {
  width: 70px;
  height: auto;
  transform: rotate(5deg);
  position: absolute;
  bottom: 0px;
  left: 0px; 
  opacity: 90%;
}

.postit {
  width: 250px;
  height: auto;
}

.postit:hover {
  filter: saturate(1.7);
  transform: rotate(7deg);
}

.link {
  grid-area: item3;
}

.filme {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  grid-area: item4;
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    height: auto;
    padding: 20px;
    display: block; /* Ajuste para dispositivos móveis */
  }

  .container {
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
  }

  p {
    font-size: 16px;
  }

  .heart {
    font-size: 20px;
  }

  .barra-horizontal {
    width: 50%;
  }

  .message {
    font-size: 16px;
  }

  .prompt {
    padding: 15px;
  }

  .prompt p {
    font-size: 16px;
  }

  .Polaroids {
    grid-template-columns: 1fr; /* Ajuste para uma coluna em dispositivos móveis */
    grid-template-rows: auto; /* Ajuste para linhas automáticas */
    grid-template-areas: 
      "item1"
      "item2"
      "item3"
      "item4"; /* Cada item ocupa uma linha */
  }

  .wolv, .aran {
    width: 50px; /* Ajuste para dispositivos móveis */
  }

  .postit {
    width: 200px; /* Ajuste para dispositivos móveis */
  }
}
