body {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 40px; 
  padding: 20px;
  position: relative; /* Adicionado para garantir que o conteúdo esteja acima do vídeo */
  z-index: 1; /* Adicionado para garantir que o conteúdo esteja acima do vídeo */
}

p {
  font-size: 20px;
  margin: 20px 0;
}

#tempoJuntos {
  margin: 20px 0;
  font-size: 18px;
  color: #d6d6d6;
}

.heart {
  font-size: 24px;
  color: #e91e63;
  margin: 20px 0;
}

.barra-horizontal {
  width: 30%;
  margin: 20px auto;
  border: none;
  border-top: 4px solid #000000a2;
  opacity: 1;
  box-shadow: 0 0px 7px rgb(209, 209, 209);
}

.message {
  font-size: 18px;
  color: #fade92;
  margin-bottom: 15px;
}

.prompt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.prompt {
  position: center;
  max-height: 70%;
  top: 10%;
  left: 15%;
  font-size: 15px;
  background: #ff0000d2;
  color:#ffffff;
  border-radius: 15px;
  box-shadow: 0 3px 15px -2px #222;
  padding: 20px;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 45%;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    height: auto;
    padding: 20px;
  }

  .container {
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
  }

  p {
    font-size: 16px;
  }

  .heart {
    font-size: 20px;
  }

  .barra-horizontal {
    width: 50%;
  }

  .message {
    font-size: 16px;
  }

  .prompt {
    padding: 15px;
  }

  .prompt p {
    font-size: 16px;
  }
}
